@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Shrikhand&display=swap');
@import "tailwindcss";

@theme {
  --font-shrikhand: 'Shrikhand', sans-serif;
  --font-hammersmith-one: 'Hammersmith One', sans-serif;

  --color-primary: #19286E;
  --color-primary-light: #6388A3;
  --color-secondary-dark: #A3AB77;
  --color-secondary: #CDD796;
  --color-secondary-light: #EBEAD5;
  --color-secondary-lighter: #FDF6F4;
  --color-tertiary: #CBF000;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}